.App {
  font-family: 'Arial', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  overflow: auto;
  padding: 50px 0;
  background-image: url("./media/annie-spratt-0ZPSX_mQ3xI-unsplash.jpg") ;
  background-size: cover;
}

.glass {
  background: rgba(250, 193, 193, 0.1);
  border-radius: 10px;
  padding: 20px;
  width: 80%;
  max-width: 400px;
  backdrop-filter: blur(13px);
  box-shadow: 0 4px 6px rgba(51, 51, 51, 0.273);
  border: 1px solid rgba(200, 200, 200, 0.18);
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.priority-buttons, .TodoList {
  margin-top: 20px;
}

h1 {
  text-align: center;
  text-shadow: #abafac 1px 1px 1px;
}

input[type="text"] {
  width: 96%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  padding: 10px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li strong {
  margin-right: 10px;
    text-transform: capitalize;
    flex: content 1;

}

/* Task Colors based on Importance Levels */
li[data-priority="High"] {
  background-color: rgba(255, 0, 0, 0.2);
  border: 1px solid red;
}

li[data-priority="Medium"] {
  background-color: rgba(255, 165, 0, 0.2);
  border: 1px solid orange;
}

li[data-priority="Low"] {
  background-color: rgba(255, 255, 0, 0.2);
  border: 1px solid yellow;
}

/* Completed Task Color */
li[data-completed="true"] {
  background-color: rgba(0, 128, 0, 0.2);
  border: 1px solid green;
}

button {
  padding: 5px 10px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  margin: 5px;
}

button:hover {
  background-color: #ddd;
}

.priority-buttons {
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}


 span {
  margin: 10px;
  color: #777;
}

.priority-buttons button {
  padding: 8px 15px;
  margin-right: 10px;
  border: 2px solid transparent;
}

.priority-buttons button[data-priority="High"] {
  background-color: #fd6e67;
}

.priority-buttons button[data-priority="Medium"] {
  background-color: #ffa600f8;
}

.priority-buttons button[data-priority="Low"] {
  background-color: #ffff00;
}

.priority-buttons button.active {
  border: 2px solid black;
}

.buttons-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

button.edit {
  background-color: #82bfff;
}

button.edit:hover {
  background-color: #0056b3;
}

button.toggle {
  background-color: #d7d7d7;
}

button.toggle:hover {
  background-color: #b0b0b0;
}

button.delete {
  background-color: #fd6e67;
}

button.delete:hover {
  background-color: #e70f00;
}

@media screen and (max-width: 400px)
 {
  .buttons-container {
    flex-direction: column;
  }
  botton {
    margin: 3px;
    padding: 3px;
  }
}
